body {
  height: 100%;
  width: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#login {
  height: 300px;
  width: 30vw;
  margin: 25vh auto 0;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#login form > span {
  display: block;
  font-size: 30px;
  letter-spacing: 8px;
  color: #4e5953;
  text-align: center;
}
#login form > input {
  display: block;
  background: #ffffff;
  border: #B4B6B5 1px solid;
  border-radius: 8px;
  outline: none;
  height: 36px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 6px 12px;
  font-size: 16px;
}
#login form button {
  box-shadow: 0px 3px 5px #ababab;
  padding: 6px 16px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}
